/* Block */
.btn {
    display: inline-block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;

    font-size: 1.75vw;
    border: 0.25vw solid #4bd16f;
    border-radius: 0.4vw;
    background-color: rgba(75, 209, 111, 0.2);

    text-decoration: none;
    /* background-color: white; */
    /* color: #888; */
    /* border-radius: 5px; */
    /* margin: 10px; */
    /* font-size: 18px; */
    /* text-transform: uppercase; */
    /* font-weight: 600; */
    /* padding: 10px 5px; */
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

/* Element */
.btn__icon {
    background-color: white;
    color: #fff;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: -10px; /* realign button text padding */
    font-weight: 600;
    background-color: #333;
    opacity: 0.4;
    border-radius: 5px 0 0 5px;
}

/* Element */
.btn__text {
    /* color: #4bd16f; */
    padding: 0 20px;
    /* border-radius: 0 5px 5px 0; */
}

/* Modifier */
.btn--big {
    font-size: 28px;
    padding: 10px;
    font-weight: 400;
}

/* Modifier */
.btn--blue {
    border-color: #0074d9;
    color: white;
    background-color: #0074d9;
}

/* Modifier */
.btn--orange {
    border-color: #ff4136;
    color: white;
    background-color: #ff4136;
}

/* Modifier */
.btn--green {
    border-color: #3d9970;
    color: white;
    background-color: #3d9970;
}
