html {
    background: #fff;
}
body {
    /* background: url(http://unsplash.it/1499/1000);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; */
}

/* .blend {
    mix-blend-mode: overlay;
} */

/* BG IMAGE */
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/* CONTAINER */
#diag-container {
    position: relative;
    z-index: 2;
    width: 40vw;
    /* height: 800px; */
    /* height: 1600px; */
    /* min-height: 2408px; */
    /* min-height: 408px; */
    margin: 0 auto;
    padding: 0;
    /* background: white; */
    font-size: 1rem;
}

/* GRID */
@supports (grid-area: auto) {
    .diag {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 2.75fr 1fr 1fr 2fr 1fr 1fr 2.75fr 1fr;
        grid-template-areas:
            "c1     c2      c3     start  start     c6          c7"
            "c8     pt1     pt1    pt1    c12       c13         c14"
            "d1     d1      pt2    pt2    about     about       about"
            "d1     d1      pt2    pt2    contact   contact     contact"
            "c32    pt3     c34    c35    c36       c37         c38"
            "d2     d2      pt4    pt4    port      port        port"
            "d2     d2      pt4    pt4    stack     stack       stack"
            "c56    pt5     pt5    pt5    c60       c61         c62"
            "c64    c65     c66    end    end       c69         c70";
    }

    /* RECTANGLES */
    .rectangle-start {
        /* background-color: red;
        background-blend-mode: luminosity; */
        /* mix-blend-mode: overlay; */

        grid-area: start;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.75vw;
        font-weight: 600;
        color: #4bd16f;
        text-transform: uppercase;

        border: 0.5vw solid #4bd16f;
        border-radius: 3vw;
    }

    .rectangle-end {
        grid-area: end;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.75vw;
        border: 0.5vw solid #4bd16f;
        border-radius: 3vw;

        font-weight: 600;
        color: #4bd16f;
        text-transform: uppercase;

        /* border: 8px solid #4bd16f; */

        background-color: transparent;
    }

    .rectangle-about {
        grid-area: about;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        color: #4bd16f;

        font-size: 1.75vw;
        border: 0.25vw solid #4bd16f;
        border-radius: 0.4vw;

        /* border-radius: 2em; */

        background-color: rgba(75, 209, 111, 0.2);
        transform: translateY(-48%);
    }

    .rectangle-contact {
        grid-area: contact;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        color: #4bd16f;
        text-transform: capitalize;

        font-size: 1.75vw;
        border: 0.25vw solid #4bd16f;
        border-radius: 0.4vw;

        background-color: transparent;
        transform: translateY(48%);
    }

    .rectangle-portfolio {
        grid-area: port;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        color: #4bd16f;
        text-transform: capitalize;

        font-size: 1.75vw;
        border: 0.25vw solid #4bd16f;
        border-radius: 0.4vw;

        background-color: transparent;
        transform: translateY(-48%);
    }

    .rectangle-stack {
        grid-area: stack;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        color: #4bd16f;
        text-transform: capitalize;

        font-size: 1.75vw;
        border: 0.25vw solid #4bd16f;
        border-radius: 0.4vw;

        background-color: transparent;
        transform: translateY(48%);
    }

    .rectangle-decision1 {
        grid-area: d1;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        transform: matrix(0.51, 0.51, -0.51, 0.51, 3, 0);

        border: 0.6vw solid #4bd16f;
    }

    .rectangle-decision1::after {
        position: absolute;
        display: inline-block;
        content: "Is web developer?";

        color: #4bd16f;
        text-transform: capitalize;
        text-align: center;
        transform: rotate(-45deg);

        font-weight: 400;
        font-size: 1.9vw;
    }

    .rectangle-decision2 {
        grid-area: d2;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 0.6vw solid #4bd16f;

        background-color: transparent;
        transform: matrix(0.51, 0.51, -0.51, 0.51, 3, 0);
    }

    .rectangle-decision2::after {
        position: absolute;
        display: inline-block;
        content: "Is competent?";
        color: #4bd16f;
        text-transform: capitalize;
        text-align: center;
        transform: rotate(-45deg);

        font-weight: 400;
        font-size: 1.9vw;
    }

    /* PATHS */
    .path-1 {
        grid-area: pt1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .path-2 {
        grid-area: pt2;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .path-3 {
        grid-area: pt3;

        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 6px solid #4bd16f;
    }

    .path-4 {
        grid-area: pt4;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .path-5 {
        grid-area: pt5;

        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleX(-1); /* FLIP */
    }

    @media screen and (min-width: 27em) {
    }
    @media screen and (min-width: 60em) {
    }
    @media screen and (min-width: 78em) {
    }
}
/* XXXXXXXX */
