:root {
    background: #fff;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    display: grid;
    grid-template-columns: 1fr 50vmax 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "logo   .       . "
        ".      diag    . "
        ".      .       . ";
}

/* BG IMAGE */
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/* GRID */
@supports (grid-area: auto) {
    .diag {
        grid-area: diag;

        /* width: 100%;
        height: 100%;
        border: 1px solid red; */
        font-size: 1rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas:
            "c1     c2      c3     start  start     c6          c7"
            "c8     pt1     pt1    pt1    c12       c13         c14"
            "d1     d1      pt2    pt2    about     about       about"
            "d1     d1      pt2    pt2    contact   contact     contact"
            "pt3    pt3     c31    c32    c33       c34         c35"
            "d2     d2      pt4    pt4    port      port        port"
            "d2     d2      pt4    pt4    stack     stack       stack"
            "c50    pt5     pt5    pt5    c54       c55         c56"
            "c57    c58     c59    end    end       c62         c63";
    }

    /* RECTANGLES */
    .rectangle-start {
        grid-area: start;
    }

    .rectangle-end {
        grid-area: end;
    }

    /* BUTTONS */
    .rectangle-about {
        grid-area: about;
        transform: translateY(-48%);
    }

    .rectangle-contact {
        grid-area: contact;
        transform: translateY(48%);
    }

    .rectangle-portfolio {
        grid-area: port;
        transform: translateY(-48%);
    }

    .rectangle-stack {
        grid-area: stack;
        transform: translateY(48%);
    }

    /* XXXXXXXXX */
    .shape-decision1 {
        grid-area: d1;
    }

    .shape-decision2 {
        grid-area: d2;
    }

    /* PATHS */
    .shape-path1 {
        grid-area: pt1;
    }

    .shape-path2 {
        grid-area: pt2;
    }

    .shape-path3 {
        grid-area: pt3;
    }

    .shape-path4 {
        grid-area: pt4;
    }

    .path5 {
        grid-area: pt5;
    }

    @media screen and (min-width: 27em) {
    }
    @media screen and (min-width: 60em) {
    }
    @media screen and (min-width: 78em) {
    }
}

/* XXXXXXXX */
