/* Block */
.logo {
    display: flex;

    margin: 2vw 0 0 2vw;

    /* background-color: #fff;
    border: 1px solid red; */
}

/* Element */
.logo__shape {
    /* height: 10vw;
    width: 100%;
    display: block; */
    /* background-color: #fff; */
}

/* Element */
.logo__path {
    /* stroke-width: 12;
    stroke-linecap: square;
    stroke: red; */
}

/* Modifier */
.logo--offset-right {
    /* transform-origin: center center;
    transform: translateX(4px); */
}
