/* Block */
.path-i {
    /* height: 100%;
    width: 100%; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
}

/* Element */
.path-i__shape {
    /* height: 100%;
    width: 100%; */
    display: block;
}

/* Element */
.path-i__path {
    stroke-width: 10;
    stroke-linecap: square;
    stroke: red;
}

/* Modifier */
.path-i--offset-right {
    transform-origin: center center;
    transform: translateX(4px);
}
