/* Block */
.path-i {
    /* height: 100%;
    width: 100%; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
    filter: blur(1px);
}

/* Element */
.path-i__shape {
    height: 10vw;
    width: 100%;
    display: block;
    /* background-color: #fff; */
}

/* Element */
.path-i__path {
    stroke-width: 6;
    stroke-linecap: square;
    /* stroke: red; */
    /* stroke: hsla(168, 100%, 23%, 1); */
    stroke: hsla(178, 100%, 22%, 0.65);
}

/* Modifier */
.path-i--offset-right {
    transform-origin: center center;
    transform: translateX(4px);
}
