/* Block */
.rectangle {
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: #ddd; */

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    border: 1px solid red;
}

/* Element */
.rectangle__shape {
    height: 100%;
    width: 100%;
    display: block;
}

/* Element */
.rectangle__rect {
    stroke: red;
    stroke-width: 4;
}

/* Element */
.rectangle__label {
    position: absolute;
    display: block;

    margin: 2vw 4vw;

    font-size: 3vmax;

    text-align: center;

    color: red;
}
