/* Block */
.rectangle-a {
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: #ddd; */

    display: flex;
    justify-content: center;
    align-items: center;

    filter: blur(1px);
}

/* Element */
.rectangle-a__shape {
    height: 100%;
    width: 70%;
    /* display: block; */
}

/* Element */
.rectangle-a__rect {
    stroke-width: 10;
    /* stroke: red; */
    /* stroke: hsla(168, 100%, 23%, 1); */

    stroke-width: 4;
    stroke-linecap: square;
    stroke: hsla(178, 100%, 22%, 0.65);

    /* background-color: red; */
}

/* Element */
.rectangle-a__label {
    position: absolute;
    display: block;

    font-size: 2vw;
    margin: 2vw 4vw;
    text-align: center;

    /* color: red; */
    /* color: hsla(168, 100%, 23%, 1); */
    color: hsla(178, 100%, 22%, 0.65);
}

/* Modifier */
.rectangle-a--font-bold {
    text-transform: uppercase;
    font-weight: 600;
}
