/* Block */
.rhombus {
    height: 100%;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ddd;
    border: 1px solid red;
}

/* Element */
.rhombus__shape {
    height: 100%;
    width: 100%;
    display: block;
}

/* Element */
.rhombus__rect {
    stroke: red;
    stroke-width: 4;
}

/* Element */
.rhombus__label {
    position: absolute;
    display: block;

    margin: 3vw;

    font-size: 1.5vmax;
    text-align: center;

    color: red;
}
